@import url('http://fonts.cdnfonts.com/css/isidora');

.container-pink-lp {

  background: #ec259a;
  width: auto;
}

.container-bg-lp {
  background-image: url("/setting/image/4-background_inferior.webp");
  background-color: #97a3d1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.title-1{
  text-decoration: none;
  font-family: 'Isidora Semibold';
  font-style: normal;
  font-weight: 600;
  color: yellow;
}
.title-2{
  text-decoration: none;
  font-family: 'Isidora Semibold';
  font-style: normal;
  font-weight: 600;
  color: white;
}

.text-1{
  text-decoration: none;
  font-family: 'Isidora Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: white;
}

.text-2{
  text-decoration: none;
  font-family: 'Isidora Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: black;
}
