.banner-lp{
  background-image: url("/setting/image/3-banner_lp_tcd.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 534px;
}


